.landing {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #0f0f0f;
  z-index: 1;

  .model {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 250vh;
    pointer-events: none;
    z-index: 10;
  }

  .headings {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: max-content;
    z-index: 2;

    .headingSection {
      display: grid;
      place-items: center;
      width: 100vw;
      height: 100vh;
      flex-shrink: 0;

      h1 {
        font-size: 10rem;
        font-weight: 500;
        color: white;
        text-align: center;
      }
    }
  }

  .overlayText {
    position: absolute;
    bottom: 20vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    color: white;
    text-align: center;
  }

  .button {
    position: absolute;
    bottom: 8vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
  }
}