.landing {
  display: flex;
  flex-direction: column;
  gap: 10vh;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #0f0f0f;
  .header {
    margin-top: 20vh;
    font-size: 13rem;
    font-weight: 500;
  }
}