.landing {
  display: flex;
  flex-direction: column;
  gap: 10vh;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #0f0f0f;
  .model {
    pointer-events: none;
    position: sticky;
    top: 0;
    z-index: 50;
    margin-top: -100vh;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: block;
  }
  .header {
    margin-top: 20vh;
    font-size: 13rem;
    font-weight: 500;
  }

  .button {
    z-index: 10000;
  }
}