.description {
  height: 100vh;
  width: 100vw;
  background-color: #0f0f0f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10vh;

  .model {
    position: absolute;
    pointer-events: none;
    z-index: 1;
  }
  .heading {
    h1 {
      font-size: 8rem;
    }
  }

  .para {
    font-size: 1.5rem;
    margin-left: -900px;
  }
}