@import url("https://fonts.cdnfonts.com/css/pp-neue-montreal");

@import "tailwindcss";

:root {
  --background: #0f0f0f;
  --foreground: #ededed;
}

html::-webkit-scrollbar {
  display: none;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f0f0f;
    --foreground: #ededed;
  }
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: "PP Neue Montreal", sans-serif;
  overflow-x: hidden;
}
